body {
    background-color: rgba(239, 239, 239, 0.84);
}
ul {
    padding-left: 0;
    list-style-type: none;
}
li {
    padding: 6px;
}

.button {
    position: fixed;
    color: white;
    border: none;
    padding: 8px;
    height: 40px;
    width: 80px;
    border-radius: 8px;
    cursor: pointer;
}

.actionMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: rgba(54, 54, 54, 0.58);
    color: white;
}

.centered {
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 400px;
    background-color: rgb(255, 217, 15);
    border: 1px solid black;
    border-radius: 8px;
    padding: 20px;
}
/*add a header and footer banner in the modal*/
.modalHeader {
    background-color: rgb(245, 208, 12);
    padding: 5px;
    border-radius: 8px;
}

.modalFooter {
    text-align: center;
    position: absolute;
    bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    width: 580px;
    background-color: rgb(245, 208, 12);
}

.modalContent {
    text-align: center;
}

.open {
    display: block;
}

.addButton {
    background-color: rgb(53, 91, 241);
    top: 10px;
    left: 60px;
}

.rowButton1 {
    background-color: #289b0a;
    top: 70px;
    left: 10px;
}

.rowButton2 {
    background-color: #f8004c;
    top: 70px;
    left: 110px;
}

.colButton1 {
    background-color: #289b0a;
    top: 130px;
    left: 10px;
}

.colButton2 {
    background-color: #f8004c;
    top: 130px;
    left: 110px;
}

.saveButton {
    background-color: rgba(54, 54, 54, 0.84);
    width: 140px;
    top: 360px;
    left: 30px;
}

.loadButton {
    background-color: rgba(54, 54, 54, 0.84);
    width: 140px;
    top: 420px;
    left: 30px;
}

.modalButton {
    background-color: rgba(54, 54, 54, 0.84);
    width: 140px;
    top: 480px;
    left: 30px;
}

.closeButton {
    border: none;
    padding: 8px;
    height: 40px;
    width: 80px;
    border-radius: 8px;
    cursor: pointer;
    background-color: rgb(180, 179, 179);
}