.button {
    position: fixed;
    color: white;
    border: none;
    padding: 8px;
    height: 40px;
    width: 80px;
    border-radius: 8px;
    cursor: pointer;
}

.centered {
    text-align: center;
}

.addButton {
    background-color: rgb(40, 155, 10);
    top: 10px;
    left: 60px;
}

.rowButton1 {
    background-color: #289b0a;
    top: 70px;
    left: 10px;
}

.rowButton2 {
    background-color: #f8004c;
    top: 70px;
    left: 110px;
}

.colButton1 {
    background-color: #289b0a;
    top: 130px;
    left: 10px;
}

.colButton2 {
    background-color: #f8004c;
    top: 130px;
    left: 110px;
}

.saveButton {
    background-color: rgba(54, 54, 54, 0.84);
    width: 140px;
    top: 360px;
    left: 10px;
}

.loadButton {
    background-color: rgba(54, 54, 54, 0.84);
    width: 140px;
    top: 420px;
    left: 10px;
}